@import "tailwindcss";

:root {
  @apply bg-gray-100;
  --foreground: #171717;
}
@media (prefers-color-scheme: dark) {
  /* :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  } */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  @apply max-w-[1980px] mx-auto;
  @apply font-sans;
}

*{
  @apply box-border;
}

h1 {
  @apply text-[96px];
}
h2 {
  @apply text-[60px];
}
h3 {
  @apply text-[48px];
}

h4 {
  @apply text-[36px]
  font-medium;
}

p {
  @apply text-[18px];
}

li {
  @apply list-none;
}

a {
  @apply no-underline 
  font-medium;
}

.but {
  @apply px-15 py-3 
  rounded 
  font-medium
  capitalize;
}
